<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-gift"></span>
                Shop
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a href="/items">Buy</a>
            </li>
        </ul>

    </div>
</nav>