<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-gift"></span>
                Shop
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a href="/items">Buy</a>
            </li>
            <li>
                <a href="/items/create">Sell</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/profile">
                    <span class="glyphicon glyphicon-user"></span> Profile/Login</a>
            </li>
            <li>
                <a href="/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Log Out</a>
            </li>
        </ul>
    </div>
</nav>