<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container">
		<div class="row">
			<div style="text-align: middle">
				<h1>Oops!</h1>
				<h2>404 Not Found</h2>
				<p>Sorry, an error has occured, Requested page not found!</p>
				<a href="/" class="btn btn-lg btn-primary">
					Take Me Home 
				</a>
			</div>
		</div>
	</div>
</body>

</html>