<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container">
		<div class="row">
			<div style="text-align: middle">
				<h2>You have bought:</h2>
				<h2><%= item.Title %></h2>
				<h3 class="text-muted">You can get in contact with <%= item.Username %> by using any of the following</h3>
				<blockquote>
					<p>
						Email: <%= item.Email %>
					</p>
					<p>
						Mobile: <%= item.Mobile %>
					</p>
				</blockquote>
				<a href="/" class="btn btn-lg btn-primary">
					Home 
				</a>
			</div>
		</div>
	</div>
</body>

</html>