<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<header>
	<% include ../partials/header-logged-in %>
</header>

<body class="container">
	<h2>Create Listing</h2>
	<hr>
	<form action="/items/create" method="post" enctype="multipart/form-data">
		<div class="form-group" style="width: 50%">
			<label>Name:</label>
			<input type="text" class="form-control" name="title" placeholder="What is your product?" minlength="4" maxlength="50" required>
		</div>
		<div class="form-group">
			<label>Description:</label>
			<textarea type="text" class="form-control" rows="7" minlength="4" name="description" placeholder="Describe your product..." style="resize: none;"
			    required></textarea>
		</div>
		<label>Price:</label>
		<div class="input-group" style="width: 20%;">
			<span class="input-group-addon">
				<i style="font-size: 20">
					<strong>£</strong>
				</i>
			</span>
			<input type="number" step="any" class="form-control" name="price" required>
		</div>
		<br>
		<div class="form-group" style="width: 20%">
			<label>Condition:</label>
			<select class="form-control" name="condition">
				<option>New</option>
				<option>Used</option>
			</select>
		</div>
		<div class="form-group" style="width: 20%">
			<label>Category:</label>
			<select class="form-control" name="category_id">
				<% for(var n = 0; n < categories.length; n++) { %>
					<option value="<%= categories[n].ID %>">
						<%= categories[n].Category %>
					</option>
					<% } %>
			</select>
		</div>
		<div class="form-group">
			<label>Upload Image:</label>
			<input type="file" name="image" accept="image/*" required>
		</div>
		<button class="btn btn-primary pull-right" style="margin-left:10px;" type="submit">Create Listing</button>
		<a class="btn btn-default pull-right" href="/items">Cancel</a>
	</form>
</body>

<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
</style>