<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<header>
	<% include ../partials/header-logged-in %>
</header>

<body class="container">
	<h2>Edit Listing</h2>
	<hr>
	<form action="/items/<%= item.ID[0] %>/edit" method="post">
		<div class="form-group" style="width: 50%">
			<label>Name:</label>
			<input type="text" class="form-control" name="title" placeholder="What is your product?" minlength="4" maxlength="50" value="<%= item.Title %>"
			    required>
		</div>
		<div class="form-group">
			<label>Description:</label>
			<textarea type="text" class="form-control" rows="7" name="description" minlength="4" style="resize: none;" required><%= item.Description %></textarea>
		</div>
		<label>Price:</label>
		<div class="input-group" style="width: 20%;">
			<span class="input-group-addon">
				<i style="font-size: 20">
					<strong>£</strong>
				</i>
			</span>
			<input type="text" class="form-control" step="0.01" min="0.01" name="price" value="<%= item.Price %>" required>
		</div>
		<br>
		<div class="form-group" style="width: 20%">
			<label>Condition:</label>
			<select class="form-control" name="condition" id="condition">
				<option>New</option>
				<option>Used</option>
			</select>
		</div>
		<div class="form-group" style="width: 20%">
			<label>Category:</label>
			<select class="form-control" name="category_id" id="category">
				<% for(var n = 0; n < categories.length; n++) { %>
					<option value="<%= categories[n].ID %>">
						<%= categories[n].Category %>
					</option>
					<% } %>
			</select>
		</div>
		<br>
		<button class="btn btn-primary pull-right" style="margin-left: 10px" type="submit">Update Listing</button>
		<a class="btn btn-default pull-right" href="/profile">Cancel</a>
	</form>
</body>

<script>
	$(document).ready(function () {
		$('#condition').val('<%= item.Condition %>');
		$('#category').val('<%= item.CategoryID %>');
	})
</script>

<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
</style>