<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div style="text-align: middle">
                <h1>Oops!</h1>
                <h2>Error</h2>
                <p style="color: #a94442; font-size:18px">
                    <%= message %>
                </p>
                <button class="btn btn-lg btn-primary" onclick="goBack()">
                    Go Back
                </button>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    function goBack() {
        window.history.back();
    }
</script>