<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header-logged-in %>
</header>

<body class="container">
    <div class="row">
        <img class=" pull-right img-rounded" style="margin-right:1%; width:auto; height:300px;" src="../../uploads/<%= item.Attachment %>">
        <div class="content-heading">
            <h1>
                <%= item.Title %>
            </h1>
            <small class="text-muted">Posted by <%= item.Username %></small>
        </div>
        <br>
        <blockquote>

            <h3>
                Price:
                <span class="price">
                    £<%= item.Price %>
                </span>
            </h3>
            <h3>
                Condition: <%= item.Condition %>
            </h3>
            <h3>
                Posted: <%= item.Posted %>
            </h3>
            <h3>
                Category: <%= item.Category %>
            </h3>
            <h3>
                Location: <%= item.Postcode %>
            </h3>

        </blockquote>
        <a href="/items/<%= item.ID[0] %>/buy">
            <button class="btn btn-primary" <%= item.Disabled %>>Buy Item</button>
        </a>
    </div>
    <br>
    <div class="row">
        <h3>Description</h3>
        <hr>
        <p style="font-size:18px">
            <%= item.Description %>
        </p>
    </div>
</body>