<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header-logged-in %>
</header>

<body class="container">
    <h2 class="pull-left">Current Listings For Sale</h2>

    <div class="row">
        <form action="/items/search" method="post">
            <a class="btn btn-primary pull-right" href="/items">All</a>
            <div class="input-group">
                <input type="text" class="form-control pull-right" name="search" placeholder="Search..." value="<%= search %>" style="width:30%;"
                required>
                <div class="input-group-btn">
                    <button style="padding: 9px; margin-right: 10px;" class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <% for(var n = 0; n < items.length; n++) { %>
            <div class="panel panel-default" style="height:200px">
                <div class="panel-body">
                    <h3 class="pull-right price">
                        £<%= items[n].Price %>
                    </h3>
                    <img class=" pull-left img-rounded" style="margin-right:1%; width:auto; height:170" src="../../uploads/<%= items[n].Attachment %>"
                    />
                    <div class="content-heading">
                        <h3>
                            <%= items[n].Title %>
                        </h3>
                        <h5 class="text-muted">
                            <%= items[n].Posted %>
                        </h>
                        <h5 class="text-muted">
                            <%= items[n].Category %>
                        </h5>
                        <h5 class="text-muted">
                            <%= items[n].Postcode %>
                        </h5>
                    </div>
                    <a href="/items/<%= items[n].ID[0] %>">
                        <button class="btn  btn-primary pull-right">View Item</button>
                    </a>
                </div>
            </div>
            <% } %>
    </div>
</body>