<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<body class="container">
    <div class="container row">
        <div class="jumbotron col-sm-4 pull-center">
            <h2>Login</h2>
            <form action="/login" method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text" class="form-control" name="username" placeholder="Username" maxlength="20" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <small style="color:#a94442"><%= error %></small>
                <br>
                <button class="btn btn-primary pull-right" type="submit">Log in</button>
            </form>
            <a href="/signup">
                <small>Don't have an account?</small>
            </a>
        </div>

    </div>
</body>

</html>