<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header-logged-in %>
</header>

<body class="container">
    <div class="row">
        <div class="jumbotron pull-left" style="width: 34%;">
            <h2>Hello
                <%= username %>
            </h2>
            <h3 class="text-muted">Change your details</h3>
            <form action="/profile" method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="<%= email %>" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-phone"></i>
                    </span>
                    <input type="number" class="form-control" name="mobile" placeholder="Mobile" value="<%= mobile %>" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-home"></i>
                    </span>
                    <input type="text" class="form-control" name="postcode" placeholder="Postcode" value="<%= postcode %>" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="new_password" placeholder="New Password">
                </div>
                <br>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="current_password" placeholder="Current Password" required>
                </div>
                <br>
                <button class="btn btn-primary pull-right" type="submit">Update</button>
            </form>
        </div>
        <div class="jumbotron pull-right" style="width: 64%">
            <h2>Your items</h2>
            <% for(var n = 0; n < items.length; n++) { %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="pull-right price">
                            £<%= items[n].Price %>
                        </h3>
                        <img class=" pull-left img-rounded" style="margin-right:1%; width:auto; height:150" src="../../uploads/<%= items[n].Attachment %>"
                        />
                        <div class="content-heading">
                            <h2>
                                <%= items[n].Title %>
                            </h2>
                            <h4 class="text-muted">
                                <%= items[n].Posted %>
                            </h4>
                            <h4 class="text-muted">
                                <%= items[n].Condition %>
                            </h4>
                            <h4 id="status-<%= items[n].ID[0] %>">
                                <%= items[n].Status %>
                            </h4>
                            <% if (items[n].Status == 'Sale') { %>
                                <script> $('#status-<%= items[n].ID[0] %>').css('color', '#6eae3c') </script>
                            <% } else { %>
                                <script> $('#status-<%= items[n].ID[0] %>').css('color', '#b12704') </script>
                            <% } %>
                        </div>
                        <div class="pull-right">
                            <a href="/items/<%= items[n].ID[0] %>/delete" class="btn btn-danger">
                                Delete
                            </a>
                            <a href="/items/<%= items[n].ID[0] %>/edit" class="btn btn-primary">
                                Edit
                            </a>
                            <a href="/items/<%= items[n].ID[0] %>" class="btn btn-primary">
                                View
                            </a>
                        </div>

                    </div>
                </div>
                <% } %>
        </div>

    </div>
</body>

</html>

<style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>