<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<body class="container">
    <div class="container row">

        <div class="jumbotron col-md-4 pull-center">
            <h2>Sign up</h2>
            <form action="/signup" method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text" class="form-control" name="username" placeholder="Username" maxlength="20" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-phone"></i>
                    </span>
                    <input type="number" class="form-control" name="mobile" placeholder="Mobile" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-home"></i>
                    </span>
                    <input type="text" class="form-control" name="postcode" placeholder="Postcode" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <br>
                <button class="btn btn-primary pull-right" type="submit">Sign up</button>
            </form>
            <a href="/login">
                <small>Already have an account?</small>
            </a>
        </div>

    </div>
</body>

</html>

<style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>